.contact(data-animation="white")
  .contact_wrapper
    .contact_button.regularBigButton
      a.contact_link(a href='mailto:amarinofr@afrworks.com' alt="Contact Me")
        span Contact me
        .contact_big_button_icon
          svg(width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M26.3234 12C26.3234 18.3004 20.5964 23.5 13.4117 23.5C6.22702 23.5 0.5 18.3004 0.5 12C0.5 5.69957 6.22702 0.5 13.4117 0.5C20.5964 0.5 26.3234 5.69957 26.3234 12Z" stroke="#BB4430")
            path(d="M35.5003 12C35.5003 18.3004 29.7733 23.5 22.5886 23.5C15.4039 23.5 9.67688 18.3004 9.67688 12C9.67688 5.69957 15.4039 0.5 22.5886 0.5C29.7733 0.5 35.5003 5.69957 35.5003 12Z" stroke="#BB4430")

    //- .contact_button
    //-   a.contact_button_link.prevent(href="mailto:amarinofr@afrworks.com" alt="Contact Me" data-animation="miniTitle") Contact me
    //-   .big_button_icon
    //-     svg(width="89" height="67" viewBox="0 0 89 67" fill="none" xmlns="http://www.w3.org/2000/svg")
    //-       circle(cx="33.1176" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
    //-       circle(cx="43.5759" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
    //-       circle(cx="55.7772" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
