.contact(data-animation="white")
  .contact_wrapper
    .contact_button
      a.contact_button_link.prevent(href="mailto:amarinofr@afrworks.com" alt="Contact Me") Contact me
      .big_button_icon
        svg(width="89" height="67" viewBox="0 0 89 67" fill="none" xmlns="http://www.w3.org/2000/svg")
          circle(cx="33.1176" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
          circle(cx="43.5759" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
          circle(cx="55.7772" cy="33.1176" r="32.4926" stroke="#BB4430" stroke-width="1.25")
