.intro
  .intro_wrapper
    .intro_first_view
      .intro_ui Click on the pieces
    .intro_second_view
      .intro_second_view_text= intro.data.intro_text_1
      .intro_second_view_button Continue
    .intro_third_view
      .intro_third_view_text= intro.data.intro_text_2
        .intro_second_view_button Show me more

    canvas.intro_pieces
