header.nav_header
  .nav_header_wrapper
    .nav_logo
      h1.nav_logo_title Amarino's website
    nav.nav
      ul.nav_list
        li.nav_list_link
          a.nav_link(href="/") Works
        li.nav_list_link
          a.nav_link(href="/about") About
