header.nav_header
  .nav_header_wrapper
    .nav_logo
      h1.nav_logo_title Amarino's website
    nav.nav
      ul.nav_list
        li.nav_list_link
          a.nav_link(href="/") Works
        li.nav_list_link
          a.nav_link(href="/about") About
        li.nav_list_social_links
          a.nav_social_link(href="https://www.linkedin.com/in/afrworks/" target="_blank") LinkedIn
          a.nav_social_link(href="https://www.behance.net/afrworks" target="_blank") Behance
