.preloader
  .preloader_wrapper
    .preloader_big_text Hello
    .preloader_small_text Pleased to meet you.

    .preloader_bottom
      .line_bottom
        span.line_thick
        span.line_thin
      .preloader_bottom_left Amarino, Digital Designer
      .preloader_bottom_right Loading...
        span.preloader_bottom_number 0%

include ../components/intro
