.about {

}

.about_wrapper {

}

.about_intro {
  @extend %padding;

  margin: 15.8rem 0 0 0;
}

.about_intro_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_intro_description {
  display: flex;
  position: relative;

  @include media('<phone') {
    flex-direction: column;;
  }
}

h1.about_intro_text {
  @extend %title-64;
  opacity: 0;

  z-index: z('navigation');

  span {
    display: inline-block;
    margin: 0 0.4rem;

    span {
      opacity: 0;
    }

    &:last-of-type {
      span {
        color: $color-red;
        font-weight: 700;
      }
    }
  }

  strong {
    color: $color-red;
    font-weight: 500;
  }

}

figure.about_intro_photo {
  width: 60.2rem;
  height: 76.5rem;
  position: relative;
  margin-left: 12.5rem;
  margin-top: -12rem;
  z-index: z('bring-back');

  @include media('<phone') {
    width: 100%;
    height: auto;
    margin-left: unset;
  }
}

img.about_intro_photo_image {
  @extend %contain;
  @extend %fill;

  position: relative;
  display: block;
  border-radius: 4.4rem;
  mix-blend-mode: multiply;
}

figcaption.about_intro_photo_caption {
  @extend %title-24;

  width: 38.6rem;
  position: relative;
  margin-top: 2rem;
  color: $color-black;

  @include media('<phone') {
    position: absolute;
    width: 100%;
    bottom: -50rem;
  }
}

.about_extras {
  position: absolute;
  right: 0;
  width: 38.3rem;
  align-self: flex-end;
  float: right;
  margin-bottom: 12.6rem;
  display: flex;
  flex-direction: column;

  @include media('<phone') {
    position: relative;
    width: unset;
    align-self: center;
  }
}

.about_extras_symbol {
  @extend %title-235;

  color: $color-red;
  font-weight: 500;
  line-height: 0.1;
}

.about_extras_text {
  @extend %text-16;
  @extend %indent;
  margin-top: 4.8rem;
}

.about_extras_extra {
  @extend %text-14;
  @extend %indent;

  width: 22.9rem;
  color: $color-grey4;
  align-self: flex-end;
  line-height: 1.33;
  margin-top: 4.8rem;
}

.about_azores {
  width: 100%;
  margin-top: 64rem;

  @include media('<phone') {
    margin-top: 48rem;
  }
}

.about_azores_wrapper {
  padding: 0 4.4rem;
}

h3.about_azores_title {
  @extend %title-32;

  width: 35.5rem;
  margin-left: 51.7rem;

  @include media('<phone') {
    width: 100%;
    margin-left: unset;
  }
}

.about_azores_photos_wrapper {
  @extend %center;

  margin-top: 7rem;
  align-items: flex-start;

  @include media('<phone') {
    flex-direction: column;
  }
}

figure.about_azores_photo {
  width: 60rem;
  height: 37.3rem;
  position: relative;
  margin: 0 1rem;

  &:nth-child(2) {
    height: 50rem;

    @include media('<phone') {
      width: 100%;
    }
  }

  &:nth-child(3) {
    width: 77.7rem;

    @include media('<phone') {
      width: 100%;
    }
  }

  @include media('<phone') {
    width: 100%;
    margin: 3rem 0;
  }
}

img.about_azores_photo_image {
  @extend %contain;
  @extend %fill;

  border-radius: 4.4rem;
  position: relative;
}

.about_azores_photo_link {
  text-decoration: none;
  color: $color-black;
}

figcaption.about_azores_photo_caption {
  @extend %text-12;

  font-weight: bold;
  margin-top: 1.2rem;
  margin-left: 2.4rem;
}

.about_process {
  margin-top: 21.2rem;
}

.about_process_wrapper {
  margin-top: 50rem;
}

.about_process_description_wrapper {
  @extend %padding;
}

.about_process_description {
  @extend %center;

  p {
    @extend %indent;
    @extend %text-24;

    padding: 14.8rem 0;
    width: 47.8rem;

    @include media('<phone') {
      width: 100%;
    }
  }
}

.about_process_title_wrapper {
  @extend %padding;
}

.about_process_title {
  @extend %center;
  @extend %title-156;

  font-weight: 500;
  display: block;
  position: relative;
  padding: 24rem 0;

  span {
    display: inline-block;
    margin: 0 0.8rem;

    span {
      opacity: 0;
    }
  }

  p {
    &:nth-child(2) {
      text-align: right;
    }
  }
}

.about_process_slider {
  overflow: hidden;

  .line_top {
    @extend %padding;
  }
}

.about_process_slider_list {
  width: fit-content;
  padding: 14.8rem 0;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.about_process_slider_list_item {
  width: 33.7rem;
  margin: 0 10rem;

  &:first-of-type {
    margin-left: 26.9rem;
  }

  &:nth-child(2) {
    .about_process_slider_text {
      margin-left: 2rem;
    }
  }

.about_process_slider_list_item_bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

figure.about_process_slider_icon {
  display: inline-block;
}

img.about_process_slider_image {
}

.about_process_slider_number {
  @extend %title-24;

  color: $color-grey3;
}

.about_process_slider_title {
  @extend %title-24;
}

.about_process_slider_text {
  @extend %text-16;

  display: inline;
}
}
