/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./styles/index.scss ***!
  \******************************************************************************************************************************************************/
.intro_pieces, .intro_third_view, .intro_second_view, .intro_first_view, .intro_wrapper, .intro, .preloader_wrapper, .preloader, .home, body, html {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.work_content_featured_images_image, .work_details.image, .home_works_single_image, img.about_azores_photo_image, img.about_intro_photo_image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.work_content_featured_images_image, .work_details.image, .home_works_single_image, img.about_azores_photo_image, img.about_intro_photo_image {
  object-fit: cover;
}

.contact, .intro_third_view, .intro_second_view, .work_content_next_project_button, .work_content_next_project, .work_content_screenshots_list, .work_content_screenshots_icon, .work_content_ui_icon, .work_content_ui, .work_content_featured_images, .work_content_suspects_problem, .work_content_suspects_solution, .work_content_suspects, .work_intro_wrapper, .home_works_list, .home_intro_wrapper, .about_process_title, .about_process_description, .about_azores_photos_wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}

.preloader_small_text span span, .preloader_big_text span span, [data-animation=title] span span {
  transform: translateX(100%) skewX(-12deg) rotate(0.1deg);
  opacity: 0;
  visibility: hidden;
}

.nav_header_wrapper, .nav_header .line_top, .work_content_wrapper, .work_details_wrapper, .work_intro_wrapper, .home_works_top, .home_intro, .about_process_slider .line_top, .about_process_title_wrapper, .about_process_description_wrapper, .about_intro {
  padding: 0 14.4rem;
}

.work_content_suspects_problem_text, .work_content_suspects_solution_text, .work_details_text, .about_process_description p, .about_extras_extra, .about_extras_text {
  text-indent: 3rem;
}

.dg.ac {
  z-index: 99999 !important;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div, section {
  box-sizing: border-box;
}

@font-face {
  font-family: "VC Henrietta";
  src: url(assets/50c1d4229099af05101a.woff2) format("woff2"), url(assets/ae4843a8eb0dc8740098.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VC Henrietta";
  src: url(assets/ab7cf097040fd466987b.woff2) format("woff2"), url(assets/4f99aed8ef435bcebc2d.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/6af64bb49e0ea82298d5.woff2) format("woff2"), url(assets/5deff320c9c41b6727a0.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url(assets/49c7f97ab075c490cf92.woff2) format("woff2"), url(assets/daaea8b503b74401b205.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.preloader_big_text {
  font-family: "VC Henrietta";
  font-size: 47.2rem;
  font-weight: bold;
  line-height: 100%;
}

.work_intro_title, .home_works_single_title, .home_intro_title, .about_extras_symbol {
  font-family: "VC Henrietta";
  font-size: 26.5rem;
  font-weight: bold;
  line-height: 100%;
}

.work_content_solution_title, .about_process_title {
  font-family: "VC Henrietta";
  font-size: 15.6rem;
  font-weight: bold;
  line-height: 100%;
}

.preloader_small_text {
  font-family: "VC Henrietta";
  font-size: 8.2rem;
  line-height: 100%;
}

.contact_button, .work_content_next_project_link, .work_content_featured_text, .home_works_title, h1.about_intro_text {
  font-family: "VC Henrietta";
  font-size: 6.4rem;
  line-height: 100%;
}

.intro_ui, .work_content_suspects_problem_title, .work_content_suspects_solution_title {
  font-family: "VC Henrietta";
  font-size: 4.8rem;
  line-height: 100%;
}

.work_content_screenshots_title, .work_content_ui_title, .work_details_title span, h3.about_azores_title {
  font-family: "VC Henrietta";
  font-size: 3.2rem;
  line-height: 100%;
}

.intro_second_view_button, .preloader_bottom_left, .work_details_bottom_techincal_title, .work_details_live, .home_works_single_button, .about_process_slider_list_item .about_process_slider_title, .about_process_slider_list_item .about_process_slider_number, figcaption.about_intro_photo_caption {
  font-family: "VC Henrietta";
  font-size: 2.4rem;
  line-height: 100%;
}

.nav_list, .nav_logo {
  font-family: "VC Henrietta";
  font-size: 2.2rem;
  line-height: 100%;
}

.intro_third_view_text, .intro_second_view_text, .about_process_description p {
  font-family: "IBM Plex Mono";
  font-size: 2.4rem;
  line-height: 120%;
}

.preloader_bottom_right, .work_content_suspects_problem_text, .work_content_suspects_solution_text, .work_details_technical, .work_details_text, .work_intro_skills, .home_works_single_skills, .about_process_slider_list_item .about_process_slider_text, .about_extras_text {
  font-family: "IBM Plex Mono";
  font-size: 1.6rem;
  line-height: 120%;
}

.home_intro_skills, .about_extras_extra {
  font-family: "IBM Plex Mono";
  font-size: 1.4rem;
  line-height: 120%;
}

figcaption.about_azores_photo_caption {
  font-family: "IBM Plex Mono";
  font-size: 1.2rem;
  line-height: 120%;
}

html {
  font-size: 0.6613756614vw;
}
@media (max-width: 767px) {
  html {
    font-size: 1.3020833333vw;
  }
}

body {
  font-family: "VC Henrietta";
  color: #0C090D;
  font-size: 16px;
  font-weight: normal;
  background-color: #F8F3E5;
}

body.black {
  color: #F8F3E5;
  background-color: #0C090D;
}
body.black svg path {
  stroke: #F8F3E5;
}
body.black a {
  color: #F8F3E5;
}
body.black .line_bottom, body.black .line_top > * {
  border-color: #F8F3E5;
}

body.white {
  color: #0C090D;
  background-color: #F8F3E5;
}
body.white svg path {
  stroke: #0C090D;
}
body.white a {
  color: #0C090D;
}
body.white .line_bottom, body.white .line_top > * {
  border-color: #0C090D;
}

.content {
  width: 100%;
  position: fixed;
  transform: rotate(0.01deg);
}

.line_bottom {
  width: 100%;
  position: relative;
  transform: scaleX(0);
  opacity: 0;
}
.line_bottom .line_thick {
  width: 100%;
  border-top: 3px solid #0C090D;
  display: block;
}
.line_bottom .line_thin {
  width: 100%;
  border-top: 1.5px solid #0C090D;
  display: block;
  margin-top: 2.5px;
}

.line_top {
  width: 100%;
  transform: scaleX("0");
  opacity: 0;
  position: relative;
}
.line_top .line_thick {
  width: 100%;
  border-top: 3px solid #0C090D;
  display: block;
  margin-top: 1.5px;
}
.line_top .line_thin {
  width: 100%;
  border-top: 1.5px solid #0C090D;
  display: block;
}

.big_button_icon {
  width: 8.8rem;
  height: 6.6rem;
  position: relative;
}
.big_button_icon svg {
  width: 100%;
  height: 100%;
}

.small_button_icon {
  width: 4.8rem;
  height: 3.6rem;
  position: relative;
}
.small_button_icon svg {
  width: 100%;
  height: 100%;
}

strong {
  font-weight: bold;
}

[data-template=work] {
  color: #F8F3E5;
}
[data-template=work] .line_bottom .line_thick {
  border-top: 3px solid #F8F3E5;
}
[data-template=work] .line_bottom .line_thin {
  border-top: 1.5px solid #F8F3E5;
}
[data-template=work] .line_top {
  opacity: 0;
  transform: scaleX("0%");
}
[data-template=work] .line_top .line_thick {
  border-top: 3px solid #F8F3E5;
}
[data-template=work] .line_top .line_thin {
  border-top: 1.5px solid #F8F3E5;
}

svg {
  width: 100%;
  height: 100%;
}

[data-animation=title] {
  opacity: 0;
  transform: scaleX(3.5);
}
[data-animation=title] span {
  display: inline-block;
  margin-right: 0.6rem;
}
.empty::after {
  content: " ";
  padding: 0 1rem;
}

.about_intro {
  margin: 15.8rem 0 0 0;
}

.about_intro_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_intro_description {
  display: flex;
  position: relative;
}

h1.about_intro_text {
  z-index: 3;
}
h1.about_intro_text strong {
  color: #BB4430;
  font-weight: 500;
}

figure.about_intro_photo {
  width: 60.2rem;
  height: 76.5rem;
  position: relative;
  margin-left: 12.5rem;
  margin-top: -12rem;
  z-index: 2;
}

img.about_intro_photo_image {
  position: relative;
  display: block;
  border-radius: 4.4rem;
  mix-blend-mode: multiply;
  opacity: 0.35;
}

figcaption.about_intro_photo_caption {
  width: 38.6rem;
  position: relative;
  margin-top: 2rem;
  color: #0C090D;
}

.about_extras {
  position: absolute;
  right: 0;
  width: 38.3rem;
  align-self: flex-end;
  float: right;
  margin-bottom: 12.6rem;
  display: flex;
  flex-direction: column;
}

.about_extras_symbol {
  color: #BB4430;
  font-weight: 500;
  line-height: 0.1;
}

.about_extras_text {
  margin-top: 4.8rem;
}

.about_extras_extra {
  width: 22.9rem;
  color: #74706C;
  align-self: flex-end;
  line-height: 1.33;
  margin-top: 4.8rem;
}

.about_azores {
  width: 100%;
  margin-top: 24rem;
}

.about_azores_wrapper {
  padding: 0 4.4rem;
}

h3.about_azores_title {
  width: 35.5rem;
  margin-left: 51.7rem;
}

.about_azores_photos_wrapper {
  margin-top: 7rem;
  align-items: flex-start;
}

figure.about_azores_photo {
  width: 60rem;
  height: 37.3rem;
  position: relative;
  margin: 0 1rem;
}
figure.about_azores_photo:nth-child(2) {
  height: 50rem;
}
figure.about_azores_photo:nth-child(3) {
  width: 77.7rem;
}

img.about_azores_photo_image {
  border-radius: 4.4rem;
  position: relative;
}

.about_azores_photo_link {
  text-decoration: none;
  color: #0C090D;
}

figcaption.about_azores_photo_caption {
  font-weight: bold;
  margin-top: 1.2rem;
  margin-left: 2.4rem;
}

.about_process {
  margin-top: 21.2rem;
}

.about_process_wrapper {
  margin-top: 50rem;
}

.about_process_description p {
  padding: 14.8rem 0;
  width: 47.8rem;
}

.about_process_title {
  font-weight: 500;
  display: block;
  position: relative;
  padding: 14.8rem 0;
}
.about_process_title p:nth-child(2) {
  text-align: right;
}

.about_process_slider {
  overflow: hidden;
}
.about_process_slider_list {
  width: fit-content;
  padding: 14.8rem 0;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.about_process_slider_list_item {
  width: 33.7rem;
  margin: 0 10rem;
}
.about_process_slider_list_item:first-of-type {
  margin-left: 26.9rem;
}
.about_process_slider_list_item:nth-child(2) .about_process_slider_text {
  margin-left: 2rem;
}
.about_process_slider_list_item .about_process_slider_list_item_bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}
.about_process_slider_list_item figure.about_process_slider_icon {
  display: inline-block;
}
.about_process_slider_list_item .about_process_slider_number {
  color: #A8A39B;
}
.about_process_slider_list_item .about_process_slider_text {
  display: inline;
}

.home_wrapper {
  position: fixed;
  will-change: transform;
}

.home_intro {
  width: 100%;
  padding-top: 11.4rem;
}

.home_intro_wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.home_intro_title span {
  display: block;
}

.home_intro_skills {
  text-align: left;
  align-self: flex-start;
  color: #BB4430;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  margin-bottom: 8rem;
}

.home_works {
  width: 100%;
  overflow: hidden;
  margin-top: 32rem;
}

.home_works_top {
  width: 100%;
}

.home_works_title_icon {
  width: 22.9rem;
  height: 12.5rem;
  position: relative;
}
.home_works_title_icon svg {
  width: 100%;
  height: 100%;
  position: relative;
}
.home_works_title_icon svg circle {
  position: absolute;
}

.home_works_title {
  margin-top: 2.2rem;
}

.home_works_list {
  width: 100%;
  margin-top: 32rem;
  background-color: #0C090D;
  overflow: hidden;
}

.home_works_list_wrapper {
  white-space: nowrap;
}

.home_works_single {
  width: 100vw;
  height: 70.6rem;
  overflow: hidden;
  position: relative;
}

.home_works_single_wrapper {
  height: 54.6rem;
  margin: 16.4rem 0;
  position: relative;
}

.home_works_single_thumbnail {
  position: absolute;
  width: 35.3rem;
  height: 42.5rem;
  top: -10rem;
  left: 0;
  z-index: 5;
}

.home_works_single_thumbnail_two {
  position: absolute;
  width: 35.3rem;
  height: 42.5rem;
  top: 10rem;
  right: 0;
}

.home_works_single_image {
  border-radius: 4.4rem;
}

.home_works_single_details {
  margin-left: 45.2rem;
  margin-top: 18.3rem;
}

.home_works_single_skills {
  font-weight: bold;
  color: #F8F3E5;
}

.home_works_single_title {
  color: #F8F3E5;
  font-weight: bold;
  padding-top: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
  position: relative;
}

.home_works_single_button {
  display: flex;
  align-items: center;
  width: 18.4rem;
  color: #F8F3E5;
  bottom: 10rem;
  right: 40rem;
  position: absolute;
  z-index: 5;
}

.home_works_single_link {
  text-decoration: none;
  color: #F8F3E5;
}

.home_works_single_line {
  width: 100%;
  height: 100%;
}

.work {
  background-color: #0C090D;
}

.work_intro {
  padding: 15.8rem 0 0 0;
}

.work_intro_wrapper {
  flex-direction: column;
}

.work_intro_skills {
  margin-top: 4rem;
  margin-bottom: 14.4rem;
}

.work_details_live_link {
  color: #EAE5D8;
}

.work_details_wrapper {
  display: flex;
  margin-top: 7rem;
}

.work_details_left {
  position: relative;
}

.work_details_title {
  display: flex;
  align-items: center;
}
.work_details_title span {
  margin-left: 1rem;
}

.work_details_icon {
  width: 4.8rem;
  height: 4.8rem;
}
.work_details_icon svg circle {
  stroke: #A8A39B;
}

.work_details_text {
  width: 82%;
  margin-top: 6.4rem;
}

.work_details_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.work_details_live {
  align-self: flex-end;
}

.work_details_bottom_techincal_title {
  margin-bottom: 2.4rem;
}

.work_details_right {
  margin-left: 6rem;
}

.work_details_photo {
  width: 60.2rem;
  height: 70.6rem;
  position: relative;
}

.work_details.image {
  border-radius: 4.4rem;
}

.work_content {
  margin-top: 51.2rem;
}

.work_content_suspects {
  width: 100%;
  margin-top: 10.5rem;
  gap: 6.4rem;
  align-items: flex-end;
}
.work_content_suspects > * {
  width: 50%;
}

.work_content_solution_title {
  width: 72.2rem;
  font-weight: 500;
}

.work_content_suspects_problem_title, .work_content_suspects_solution_title {
  color: #74706C;
  transform: rotateZ(-90deg);
}

.work_content_suspects_problem_title_wrapper, .work_content_suspects_solution_title_wrapper {
  width: 10rem;
  height: 7rem;
  align-self: flex-end;
}

.work_content_suspects_problem_text p:not(p:first-of-type), .work_content_suspects_solution_text p:not(p:first-of-type) {
  margin-top: 2rem;
}

.work_content_featured {
  margin-top: 46.8rem;
}

.work_content_featured_text {
  width: 98rem;
  color: #A8A39B;
}

.work_content_featured_images {
  width: 100%;
  justify-content: space-between;
}

.work_content_featured_images_photo {
  width: 56rem;
  height: 69rem;
  position: relative;
}
.work_content_featured_images_photo:first-child {
  margin-top: 20rem;
}

.work_content_featured_images_image {
  border-radius: 4.4rem;
}

.work_content_ui {
  margin-top: 46.8rem;
}

.work_content_ui_icon_svg {
  width: 4.8rem;
  height: 4.8rem;
}
.work_content_ui_icon_svg svg rect {
  stroke: #A8A39B;
}

.work_content_ui_title {
  margin-left: 2rem;
}

.work_content_ui_photo {
  margin-top: 7rem;
}

.work_content_screenshots {
  margin-top: 48rem;
}

.work_content_screenshots_icon_svg {
  width: 4.8rem;
  height: 4.8rem;
}
.work_content_screenshots_icon_svg svg rect {
  stroke: #A8A39B;
}

.work_content_screenshots_title {
  margin-left: 2rem;
}

.work_content_screenshots_list {
  flex-direction: column;
  gap: 12.6rem;
  margin-top: 12.6rem;
  flex: 1 1 0.9rem;
  position: relative;
  height: fit-content;
}

.work_content_screenshots_list_item {
  max-width: 100%;
  height: auto;
}

.work_content_screenshots_list_image {
  max-width: 100%;
  height: auto;
}

.work_content_next_project {
  padding: 24rem 0;
}

.work_content_next_project_icon {
  width: 8.8rem;
  height: 6.6rem;
  margin-left: 2rem;
}
.work_content_next_project_icon svg circle {
  stroke: #BB4430;
}

.work_content_next_project_link a {
  color: #EAE5D8;
  text-decoration: none;
}

.preloader {
  background-color: #F8F3E5;
  position: fixed;
  z-index: 4;
  overflow: hidden;
}

.preloader_wrapper {
  padding: 16.8rem 14.4rem 0 14.4rem;
  position: relative;
}

.preloader_big_text {
  color: #0C090D;
  opacity: 0;
  transform: scaleX(3.5);
  line-height: 0.7;
  position: relative;
}
.preloader_big_text span {
  display: inline-block;
  margin-right: -1rem;
}
.preloader_small_text {
  color: #0C090D;
  transform: scaleX(3.5);
  opacity: 0;
}
.preloader_bottom {
  width: 100%;
  padding: 0 14.4rem;
  position: absolute;
  left: 0;
  bottom: 4rem;
  color: #0C090D;
}

.preloader_bottom_left {
  transform: translateY(-2rem);
  opacity: 0;
  float: left;
  margin-top: 3rem;
}

.preloader_bottom_right {
  transform: translateY(-2rem);
  opacity: 0;
  float: right;
  margin-top: 3rem;
}

.nav_header {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 3;
}
.nav_header .line_top {
  position: absolute !important;
  bottom: 0 !important;
}

.nav_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav_logo {
  margin-top: 1.8rem;
  transform: translateY(-3rem);
  opacity: 0;
  display: block;
}

.nav_logo_title_link {
  color: #0C090D;
  text-decoration: none;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}

.nav {
  display: flex;
}

.nav_list {
  margin-top: 1.8rem;
  font-weight: bold;
}

.nav_list_link {
  margin-right: 1rem;
  transform: translateY(-3rem);
  opacity: 0;
  display: block;
}
.nav_list_link a {
  text-decoration: none;
}

.nav_link {
  margin: 0 2rem;
  color: #0C090D;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}

.nav_link_active {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
  opacity: 0.5;
}

.nav_list_social_links_list {
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(-3rem);
}

.nav_list_social_links a {
  text-decoration: none;
  color: #0C090D;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}

.nav_social_link {
  line-height: 150%;
}

[data-template=work] .nav_logo_title_link {
  color: #F8F3E5;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
[data-template=work] .nav_link {
  margin: 0 2rem;
  color: #F8F3E5;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
[data-template=work] .nav_link_active {
  color: #A8A39B;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
[data-template=work] .nav_list_social_links a {
  color: #F8F3E5;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}

.intro {
  position: fixed;
  background-color: #F8F3E5;
  z-index: 5;
}

.intro_first_view {
  flex-direction: column;
  color: #0C090D;
}

.intro_ui {
  text-align: center;
  font-weight: bold;
  padding-top: 12rem;
}

.intro_second_view {
  width: 70.2rem;
  padding-left: 14rem;
  flex-direction: column;
}

.intro_second_view_text strong {
  font-weight: bold;
}

.intro_second_view_button {
  align-self: flex-start;
  margin-top: 7.4rem;
  display: flex;
  line-height: 110%;
  cursor: pointer;
}

.intro_second_view_button_icon {
  margin-left: 1rem;
}

.intro_third_view {
  justify-content: flex-start;
  background-color: #0C090D;
}

.intro_third_view_wrapper {
  width: 70.2rem;
  padding-left: 14rem;
  flex-direction: column;
}

.intro_third_view_text {
  color: #F8F3E5;
}
.intro_third_view_text strong {
  font-weight: bold;
}

.intro_second_view_button {
  align-self: flex-start;
  margin-top: 7.4rem;
  display: flex;
  line-height: 110%;
  cursor: pointer;
}

.intro_third_view_button_icon {
  margin-left: 1rem;
}

.intro_skip {
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 0 14rem;
  align-self: flex-end;
  padding-bottom: 14rem;
}

.contact {
  width: 100%;
  height: 80vh;
  position: relative;
}

.contact_button {
  display: flex;
  align-items: center;
  width: 47.4rem;
  color: #0C090D;
  text-align: center;
}

.contact_button_link {
  text-decoration: none;
  color: #0C090D;
  margin-right: 3rem;
}

/*# sourceMappingURL=main.css.map*/