.regularButton {
  @extend %title-16;

  display: flex;
  align-items: center;
  font-weight: bold;
  height: 4.8rem;
  width: fit-content;
  border: .2rem solid $color-grey1;
  border-radius: 0.4rem;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.25s $ease-out-expo;

  z-index: z('bring-front');

  a {
    z-index: z('bring-front');
    width: 100%;
    height: 100%;
    padding: 0.4rem 2.4rem;
    gap: 0.8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  svg {
    width: 2.4rem;
    height: 1.6rem;

    path {
      stroke: $color-red !important;
    }

    circle {
      stroke: $color-red;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: calc(100% + 0.4rem);
    border: .2rem solid $color-grey1;
    border-radius: 0.4rem;
    position: absolute;
    top: 0;
    left: -.2rem;
    transform: translateY(-0.6rem);
    transition: all 0.25s $ease-out-expo;
    z-index: z('content');
  }

  &::before {
    content: '';
    width: 100%;
    height: calc(100% + 0.8rem);
    border: .2rem solid $color-grey1;
    border-radius: 0.4rem;
    position: absolute;
    top: 0;
    left: -.2rem;
    transform: translateY(-1rem);
    transition: all 0.25s $ease-out-expo;
    z-index: z('content');
  }

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 1);
    transition: background-color 0.25s $ease-out-expo;

    a {
    color: $color-black;

    }

    &::after {
      transform: translateY(-0.2rem);
      transition: all 0.25s $ease-out-expo;
    opacity: 0;

    }

    &::before {
      transform: translateY(-0.2rem);
      transition: all 0.25s $ease-out-expo;
      transition-delay: 0.1s;
    opacity: 0;

    }
  }

  @include media('<phone') {
    position: relative;
    margin-top: 2.4rem;
  }
}

.regularBigButton {
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
  height: 12.6rem;
  width: fit-content;
  border: 0.2rem solid $color-black;
  border-radius: 0.4rem;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.25s $ease-out-expo;
  z-index: z('bring-front');

  a {
    z-index: z('bring-front');
    width: 100%;
    height: 100%;
    padding: 0.4rem 6.4rem;
    gap: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  svg {
    width: 6.4rem;
    height: 4.8rem;

    path {
      stroke: $color-red !important;
    }

    circle {
      stroke: $color-red;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: calc(100% + 0.6rem);
    border: 0.2rem solid $color-black;
    border-radius: 0.6rem;
    position: absolute;
    top: 0;
    left: -0.2rem;
    transform: translateY(-0.7rem);
    transition: all 0.25s $ease-out-expo;
    z-index: z('content');
  }

  &::before {
    content: '';
    width: 100%;
    height: calc(100% + 1rem);
    border: 0.2rem solid $color-black;
    border-radius: 0.6rem;
    position: absolute;
    top: 0;
    left: -0.2rem;
    transform: translateY(-1.2rem);
    transition: all 0.25s $ease-out-expo;
    z-index: z('content');
  }

  &:hover {
    background-color: rgba($color: $color-black, $alpha: 1);
    transition: background-color 0.25s $ease-out-expo;

    a {
      color: $color-white;
    }


    &::after {
      transform: translateY(-0.2rem);
      transition: all 0.25s $ease-out-expo;
      opacity: 0;
    }

    &::before {
      transform: translateY(-0.4rem);
      transition: all 0.25s $ease-out-expo;
      transition-delay: 0.1s;
      opacity: 0;
    }
  }

  @include media('<phone') {
    position: relative;
    margin-top: 2.4rem;
  }
}

.intro {
  .intro_second_view_button {
    padding: 0 2.4rem;
    border: 0.04rem solid $color-black !important;

    a {
      color: $color-black !important;
    }

    &::before, &::after {
      border: 0.04rem solid $color-black !important;
    }
  }

  .intro_third_view_button {
    padding: 0 2.4rem;
  }
}

.black {
  .regularBigButton {
    border-color: $color-white;

    a {
      color: $color-white;
    }

    &::before, &::after {
      border-color: $color-white;
    }

    &:hover {
      a {
        color: $color-black;
      }
    }
  }

  .regularButton {
    border-color: $color-white;

    a {
      color: $color-white;
    }

    &::before, &::after {
      border-color: $color-white;
    }

    &:hover {
      a {
        color: $color-black;
      }
    }
  }
}
