.intro {
  @extend %cover;

  position: fixed;
  background-color: $color-white;
  z-index: z('content');
}

.intro_wrapper {
  @extend %cover;
}

.intro_first_view {
  @extend %cover;

  flex-direction: column;
  color: $color-black;
}

.intro_ui {
  @extend %title-64;

  // font-size: 19.2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 12rem;

  span {
    display: inline-block;
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    span {
      opacity: 0;
      transform: translateY(-45%) rotate(0.1deg);
      transform-origin: bottom center;
    }
  }
}

.intro_second_view {
  @extend %cover;
  @extend %center;

  opacity: 0;
  visibility: hidden;
  width: 70.2rem;
  padding-left: 14rem;
  flex-direction: column;

  @include media('<phone') {
    width: 100%;
    padding: 0 4rem;
  }
}

.intro_second_view_text {
  @extend %text-24;

  strong {
    font-weight: bold;
  }
}

.intro_second_view_button {
  @extend %title-24;

  align-self: flex-start;
  margin-top: 7.4rem;
  display: flex;
  line-height: 110%;
  cursor: pointer;
}

.intro_second_view_button_icon {
  margin-left: 1rem;
}

.intro_third_view {
  @extend %cover;
  @extend %center;
  opacity: 0;
  visibility: hidden;
  justify-content: flex-start;

  p {
    &:last-of-type {
      margin-top: 3.2rem;
    }
  }
}

.intro_third_view_wrapper {
  // display: none;
  width: 70.2rem;
  padding-left: 14rem;
  flex-direction: column;

  @include media('<phone') {
    width: 100%;
    padding: 4rem 4rem 0 4rem;
  }
}

.intro_third_view_text {
  @extend %text-24;

  color: $color-white;

  strong {
    font-weight: bold;
  }
}

.intro_third_view_button {
  @extend %title-24;

  align-self: flex-start;
  margin-top: 7.4rem;
  display: flex;
  line-height: 110%;
  cursor: pointer;

  .small_button_icon {
    margin-left: 1rem;
  }
}

.intro_pieces {
  @extend %cover;
}

.intro_skip {
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 0 14rem;
  align-self: flex-end;
  padding-bottom: 14rem;
}

