.nav_header {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index:z('navigation');

  .line_top {
    @extend %padding;
    opacity: 0;

    position: absolute !important;
    bottom: 0 !important;
  }
}

.nav_header_wrapper {
  @extend %padding;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media('<phone') {
    justify-content: center;
  }
}

.nav_logo {
  @extend %condensed-24;

  margin-top: 1.8rem;
  transform: translateY(-3rem);
  opacity: 0;
  display: block;

  @include media('<phone') {
    font-size: 1.8rem;
    display: none;
  }
}

.nav_logo_title_link {
  color: $color-black;
  text-decoration: none;
  transition: all 1s $ease-out-expo;
  transition-delay: 0.5s;
}

.nav {
  display: flex;
}

.nav_list {
  margin-top: 1.8rem;
}

.nav_list_link {
  margin-right: 1rem;
  transform: translateY(-3rem);
  opacity: 0;
  display: block;

  a {
    text-decoration: none;
  }

  @include media('<phone') {
    margin-right: unset;
  }
}

.nav_link {
  @extend %title-22;

  margin: 0 1.2rem;
  color: $color-black;
  transition: all 1s $ease-out-expo;
  transition-delay: 0.5s;
  font-weight: bold;

  &:hover {
    color: $color-red;
  }

  @include media('<phone') {
    font-size: 1.6rem;
  }
}

.active {
  transition: all 1s $ease-out-expo;
  transition-delay: 0.5s;
  opacity: 0.5;
}

.nav_list_social_links_list {
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(-3rem);
}

.nav_list_social_links {

  a {
    text-decoration: none;
    color: $color-black;
    transition: all 1s $ease-out-expo;
    transition-delay: 0.5s;
  }

  @include media('<phone') {
    display: none;
  }
}

.nav_social_link {
  line-height: 150%;
}

[data-template="work"] {
  .nav_logo_title_link {
    color: $color-white;
      transition: all 1s $ease-out-expo;
      transition-delay: 0.5s;
  }

  .nav_link {
    color: $color-white;
    transition: all 1s $ease-out-expo;
  }

  .nav_link.active {
    color: $color-grey3;
      transition: all 1s $ease-out-expo;
  }

  .nav_list_social_links {
    a {
      color: $color-white;
      transition: all 1s $ease-out-expo;
    }
  }
}
