.preloader {
  @extend %cover;

  background-color: $color-white;
  position: fixed;
  z-index:z('preloader');
  overflow: hidden;
}

.preloader_wrapper {
  @extend %cover;
  @extend %padding;

  padding-top: 16.8rem;
  position: relative;
}

.preloader_big_text {
  @extend %title-472;

  color: $color-black;
  opacity: 0;
  transform: scaleX(3.5);
  line-height: 0.7;
  position: relative;

  span {
    display: inline-block;
    margin-right: -1rem;
  }

  span span {
    @extend %animation;
  }

  @include media('<phone') {
    text-align: center;
    margin-top: 10rem;

    span {
      margin-right: -0.2rem;
    }
  }
}

.preloader_small_text {
  @extend %title-82;


  color: $color-black;
  transform: scaleX(3.5);
  opacity: 0;

  span span {
    @extend %animation;
  }

  @include media('<phone') {
    text-align: center;
    margin-top: 1.2rem;
  }
}

.preloader_bottom {
  @extend %padding;

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 4rem;
  color: $color-black;

  @include media('<phone') {
    text-align: center;
  }
}

.preloader_bottom_left {
  @extend %condensed-24;

  transform: translateY(-2rem);
  opacity: 0;
  float: left;
  margin-top: 3rem;

  @include media('<phone') {
    float: unset;
  }
}

.preloader_bottom_right {
  @extend %text-16;

  transform: translateY(-2rem);
  opacity: 0;
  float: right;
  margin-top: 3rem;

  @include media('<phone') {
    float: unset;
  }
}

.preloader_bottom_number {

}
