.preloader {
  @extend %cover;

  background-color: $color-white;
  position: fixed;
  z-index:z('preloader');
  overflow: hidden;
}

.preloader_wrapper {
  @extend %cover;

  padding: 16.8rem 14.4rem 0 14.4rem;
  position: relative;
}

.preloader_big_text {
  @extend %title-472;

  color: $color-black;
  opacity: 0;
  transform: scaleX(3.5);
  line-height: 0.7;
  position: relative;

  span {
    display: inline-block;
    margin-right: -1rem;
  }

  span span {
    @extend %animation;
  }
}

.preloader_small_text {
  @extend %title-82;

  color: $color-black;
  transform: scaleX(3.5);
  opacity: 0;

  span span {
    @extend %animation;
  }
}

.preloader_bottom {
  width: 100%;
  padding: 0 14.4rem;
  position: absolute;
  left: 0;
  bottom: 4rem;
  color: $color-black;
}

.preloader_bottom_left {
  @extend %title-24;

  transform: translateY(-2rem);
  opacity: 0;
  float: left;
  margin-top: 3rem;
}

.preloader_bottom_right {
  @extend %text-16;

  transform: translateY(-2rem);
  opacity: 0;
  float: right;
  margin-top: 3rem;
}

.preloader_bottom_number {

}
