$color-black: #0C090D;
$color-white: #F8F3E5;
$color-grey1: #EAE5D8;
$color-grey2: #C9C4BA;
$color-grey3: #A8A39B;
$color-grey4: #74706C;
$color-red: #BB4430;
$font-vc: 'IBM Plex Mono';
$font-ibm: 'VC Henrietta';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$z-indexes: ( 'bring-front', 'preloader', 'navigation', 'bring-back', 'content');
