html {
  @extend %cover;
  font-size: calc(100vw/1512*10);
  overflow: hidden;

  user-select: none;

  @include media('<phone') {
    font-size: calc(100vw/380*10);
  }

}

body {
  @extend %cover;
  font-family: $font-vc;
  color: $color-black;
  font-size: 16px;
  font-weight: normal;
  background-color: $color-white;
  overflow: hidden;
}


body.white {
  color: $color-black;
  background-color: $color-white;
  transition: all 1s $ease-out-expo;

  svg {
    path {
      transition: all 1s $ease-out-expo;
      stroke: $color-black;
    }
  }

  a {
    transition: all 1s $ease-out-expo;
    color: $color-black;
  }

  .line_bottom, .line_top > * {
    transition: all 1s $ease-out-expo;
    border-color: $color-black;
  }
}

body.black {
  color: $color-white;
  background-color: $color-black;
  transition: all 1s $ease-out-expo;

  svg {
    path {
      transition: all 1s $ease-out-expo;
      stroke: $color-white;
    }
  }

  a {
    transition: all 1s $ease-out-expo;
    color: $color-white;
  }

  .line_bottom, .line_top > * {
    transition: all 1s $ease-out-expo;
    border-color: $color-white;
  }
}

.content {
  width: 100%;
  position: fixed;
  transform: rotate(0.01deg);

  .home, .about, .work {
    opacity: 0;
  }
}

.line {
  transform: scale(0, 1) rotate(0deg) translate3d(0, 0, 0.1px);
  opacity: 0;
  position: relative;
}

.line_bottom {
  width: 100%;

  .line_thick {
    width: 100%;
    border-top: 3px solid $color-black;
    display: block;
  }

  .line_thin {
    width: 100%;
    border-top: 1.5px solid $color-black;
    display: block;
    margin-top: 2.5px;
  }
}

.line_top {
  width: 100%;

  .line_thick {
    width: 100%;
    border-top: 3px solid $color-black;
    display: block;
    margin-top: 1.5px;
  }

  .line_thin {
    width: 100%;
    border-top: 1.5px solid $color-black;
    display: block;
  }
}

.big_button_icon {
  width: 8.8rem;
  height: 6.6rem;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

.small_button_icon {
  width: 4.8rem;
  height: 3.6rem;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

strong {
  font-weight: bold;
}


[data-template="work"] {
  color: $color-white;

  .line_bottom {
    opacity: 0;
    transform: scale(0, 1);

    .line_thick {
      border-top: 3px solid $color-white;
    }

    .line_thin {
      border-top: 1.5px solid $color-white;
    }
  }

  .line_top {
    opacity: 0;
    transform: scale(0, 1);

    .line_thick {
      border-top: 3px solid $color-white;
    }

    .line_thin {
      border-top: 1.5px solid $color-white;
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

[data-animation="title"] {
  opacity: 0;
  transform: scaleX(3.5);

  span {
    display: inline-block;
    margin-right: 0.6rem;
  }

  span span {
    @extend %animation;
  }
}

[data-animation="miniTitle"] {
  opacity: 0;
  transform: scaleX(3.5);

  span {
    display: inline-block;
    margin-right: 0.6rem;
  }

  span span {
    @extend %animation;
  }
}

.empty {
  &::after {
    content: " ";
    padding: 0 1rem;
  }
}
