extends ../base.pug

block variables
  - var template = 'about'

block content
  .about
    .about_wrapper

      .about_intro
        .about_intro_wrapper
          h1.about_intro_text!=ctx.prismicH.asHTML(about.data.intro)
