.home {
  @extend %cover;
}

.home_wrapper {

  width: 100%;
  position: fixed;
  will-change: transform;

  @include media('<phone') {
    width: 100%;
  }
}

.home_intro {
  @extend %padding;

  width: 100%;
  padding-top: 11.4rem;

  @include media('<phone') {
    position: relative;
  }
}

.home_intro_wrapper {
  @extend %center;

  flex-direction: column;
  align-items: flex-start;

  @include media('<phone') {

  }
}

.home_intro_title {
  @extend %title-235;

  font-size: 22.5rem;
  opacity: 0;
  transform: scaleX(0.5);
  text-transform: uppercase;

  span {
    display: block;

    span {
      opacity: 0;
      transform: translateX(100%) skewX(-12deg) rotate(0.1deg)
    }
  }

  @include media('<phone') {
    margin-top: 4.8rem;
    font-size: 6.2rem;
    margin-top: 1.2rem;
  }
}

.home_intro_skills {
  @extend %condensed-24;

  text-align: left;
  align-self: flex-start;
  color: $color-red;
  margin-bottom: 8rem;
  flex-wrap: wrap;

  @include media('<phone') {
    margin-top: 6.4rem;
    font-size: 1.8rem;
  }
}

.home_works {
  width: 100%;
  overflow: hidden;
  margin-top: 48rem;
}

.home_works_top {
  @extend %padding;
  @extend %center;

  width: 100%;

  @include media('<phone') {
    margin-top: 4.8rem;
  }
}

.home_works_title_icon {
  width: 22.9rem;
  height: 12.5rem;
  position: relative;

  @include media('<phone') {
    height: 6.5rem;
  }

  svg {
    width: 100%;
    height: 100%;
    position: relative;

    @include media('<phone') {
      width: 50% !important;
      height: auto !important;
    }

    circle {
      position: absolute;
    }
  }
}

.home_works_title {
  @extend %condensed-128;

  margin: 4.8rem 0 4.8rem 0;
  text-align: center;

  @include media('<phone') {
    font-size: 6.4rem;
    margin: 1.2rem 0;

  }
}

.home_works_list {
  @extend %center;

  width: 100%;
  margin-top: 6.4rem;
  overflow: hidden;

  @include media('<phone') {
    margin-top: 0;
  }
}

.home_works_list_wrapper {
  white-space: nowrap;
}

.home_works_single {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.home_works_single_wrapper {
  @extend %center;

  width: 100%;
  min-height: 94vh;
  margin: 16.4rem 0;
  position: relative;

  @include media('<phone') {
    margin: unset;
  }
}

.home_works_single_gallery {
  // @extend %cover;
}

.home_works_single_gallery_wrapper {
  @extend %cover;

  opacity: 0.25;

  @include media('<phone') {
    z-index: z('content');
  }
}

.home_works_single_thumb {
  opacity: 0;
  width: 35.3rem;
  height: 42.5rem;

  @include media('<phone') {
    width: 19.2rem;
    height: 27.3rem;
  }
}

.home_works_single_thumbnail {
  position: absolute;
  top: 30rem;
  left: 0;
  z-index: z('bring-front');
}

.home_works_single_thumbnail_two {
  position: absolute;
  bottom: 15rem;
  left: 40rem;
}

.home_works_single_thumbnail_three {
  position: absolute;
  bottom: 5rem;
  left: 80rem;
}

.home_works_single_thumbnail_four {
  position: absolute;
  top: 35rem;
  left: 130rem;
}

.home_works_single_thumbnail_five {
  position: absolute;
  bottom: 5rem;
  left: 190rem;
}

.home_works_single_image {
  @extend %contain;
  @extend %fill;

  border-radius: 4.4rem;
}

.home_works_single_details_wrapper {
  @include media('<phone') {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.home_works_single_details {
  margin-left: 45.2rem;

  @include media('<phone') {
    margin-left: unset;
    z-index: z('bring-front');
  }
}

.home_works_single_skills {
  @extend %condensed-24;

  color: $color-white;
}

.home_works_single_title {
  @extend %title-115;

  font-weight: bold;
  padding-top: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  z-index: z('bring-front');
  position: relative;

  @include media('<phone') {
    padding-top: 2rem;
  }
}

.home_works_single_button {
  margin-top: 4.8rem;
  margin-left: 2.4rem;
}

.home_works_single_line {
  width: 100%;
  height: 100%;
}

